* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flo-l {
  float: left;
}

.flo-r {
  float: right;
}

.clr-b {
  clear: both;
}

.clr-l {
  clear: left;
}

.cf {
  overflow: hidden;
}

input[type='submit'],
input[type='checkbox'],
input[type='checkbox'] + label {
  cursor: pointer;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  background: lightgray;
  font-family: sans-serif;
}

.screen {
  position: relative;
  background: #3c3c3c;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.logo {
  top: 10%;
  display: block;
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.small {
  font-size: 0.72em;
  color: #666666;
}

label.small:hover {
  color: gray;
}

.large {
  color: #fff;
  font-size: 1.3em;
  line-height: 1em;
  font-family: Georgia, serif;
  font-weight: 700;
  margin-bottom: 0.6em;
}

.medium {
  font-size: 0.8em;
  color: #999999;
}
.medium:hover {
  color: #b3b3b3;
}

.signup-link {
  margin-top: 1.4em;
}

.login {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 1.5em 1.5em;
}
.login input[type='text'],
.login input[type='password'] {
  width: 100%;
  margin-bottom: 1.5em;
  border: 0;
  border-radius: 3px;
  height: 2.2em;
  font-size: 1.2em;
  color: #666666;
  padding-left: 0.5em;
}
.login input[type='password'] {
  margin-bottom: 0.7em;
}
.login input[type='submit'] {
  margin-top: 0.7em;
  background: #f7971e;
  background: linear-gradient(#f7971e, #f7971e);
  border-radius: 3px;
  border: 0;
  height: 2em;
  color: #fff;
  font-family: Georgia, serif;
  font-size: 1.3em;
  font-weight: 700;
  padding: 0 0.5em;
}

.login button {
  margin-top: 0.7em;
  background: #f7971e;
  background: linear-gradient(#f7971e, #f7971e);
  border-radius: 3px;
  border: 0;
  height: 2em;
  color: #fff;
  font-family: Georgia, serif;
  font-size: 1.3em;
  font-weight: 700;
  padding: 0 0.5em;
}

.login input[type='submit']:hover {
  background: linear-gradient(#00bdf7, #00aade);
}
.login label.small {
  padding-left: 0.5em;
}

